{xref_checks, [undefined_function_calls]}.

{plugins, [rebar3_proper, covertool]}.

{covertool, [{coverdata_files, ["eunit.coverdata", "proper.coverdata"]}]}.
{profiles,
    [{test, [
             {deps, [proper]},
             {extra_src_dirs, ["test", "bench"]}
            ]},
     {bench, [
              {deps, [{erlperf, "2.3.0"}]},
              {extra_src_dirs, ["bench"]}
             ]}
]}.
